<div class="jumbotron container" align="center">
  <h1>Rocket Supply</h1>
  <p>A proud supplier of Tech Tac Slimline Tubing Anchor Catchers</p>
  <%= link_to "Sign up", '#', class: 'btn btn-primary btn-lg' %>
</div>